body {
    margin: 0;
    font-family: Arial, sans-serif; 
  } 
  
  .background-decorator {
    background-image: url('https://cdn.pixabay.com/photo/2023/11/12/15/30/suv-8383283_960_720.jpg'); 
    background-size: cover;
    
    /* background-position: center; */
     background-attachment:fixed ; 
    background-repeat: no-repeat; 
    padding: 50px 0;
    color: #fff; }
  
  .container {
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 10px; 
    padding: 100px;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #f59898;
  }
  
  h3 {
    margin-top: 30px;
    color: #ffcc00; 
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .list-inline-item a {
    color: #ffcc00; 
  } 
  
  .list-inline-item a:hover {
    text-decoration: underline;
  } 
  
  
  
  /* Contact Information Section */
  .contact-info-section {
    background-color: #d5eef8;
  }
  
  .contact-info-section .fas {
    color: #1fa3db;
  }
  
  .contact-info-section p {
    font-size: 1rem;
    margin-top: 10px;
  }
  
  
  
  /* Footer Section */
  footer p {
  margin-bottom: 5px;
  }
  
  footer a {
  color: #000;
  }
  
  .navbar-nav .nav-link {
    position: relative; 
    text-decoration: none;
    padding-bottom: 5px; 
  
   
  }
  
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link.active {
    border-bottom: 4px solid #0dcaf0; 
  }